<form [formGroup]="loginform" (ngSubmit)="onSubmit()">
  
  Email :<input type="text" placeholder=" Enter your email" formControlName="Email"/><br><br>
  @if(Email?.invalid && (Email?.dirty || Email?.touched )){
    @if(Email?.errors?.['required']){
      <span> email is required</span>
    }
  }
<br>
  Password : <input type="password" placeholder=" Enter your password"  formControlName="password"/><br><br>
  @if(password?.invalid && (password?.dirty || password?.touched)){
    @if(password?.errors?.['required']){
      <span> password must be 10 character </span>
    }
  }
 
  <span style="text-align: left;">
  Gender:
  <input type="radio" formControlName="Gender" value="Male"/>Male
  <input type="radio" formControlName="Gender" value="Femail"/>Femail

  </span>

  <span style="text-align: left;">
  <label> Choose your State:</label>
  <select formControlName="State">
    <option value="Bihar">Bihar</option>
    <option value="Jharkhand">Jharkhand</option>
  </select>
  
  </span>
<br><br>
<button type="submit" [disabled]="!loginform.valid">Login </button>



</form>

<div  style="text-align: center; background-color: antiquewhite; color: black;">
  {{ loginform.value | json }}
</div>
